.jumbotron {
    background-color: teal;
    margin-bottom: 0;
}


.test {
    background-image: url("/img/WB.png");
    color: white;
    padding: 20px;
    display: grid;
    justify-items: center;
}

